{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "max-len": [1, 170, 2, {"ignoreComments": true}],
    "linebreak-style": ["error", "windows"],
    "indent": "off",
    "import/order": "off"
  }
}