{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "max-len": [1, 170, 2, {"ignoreComments": true}],
    "no-unused-vars": 0,
    "linebreak-style": ["error", "windows"],
    "indent": "off",
    "no-var": "off",
    "prefer-arrow-callback": "off",
    "func-names": "off",
    "import/order": "off",
    "dot-notation": "off",
    "consistent-return": "off"
  }
}