extends layout

block content
    .container
        if mode === 'register'
            h1 Register Portal
            form(action='/register' method='post')
                .form-group.row
                    label(for='username') Username:
                    input#username.form-control(type='text' name='username' placeholder='' required)
                .form-group.row
                    label(for='email') Email:
                    input#email.form-control(type='email' name='email' placeholder='' required)
                .form-group.row
                    label(for='password') Password:
                    input#password.form-control(type='password' name='password' placeholder='' required)
                .form-group.row
                    button.btn.btn-primary(type='submit') Register
        else if mode === 'login'
            h1 Login Portal
            form(action='/login' method='post')
                .form-group.row
                    label(for='username') Username:
                    input#username.form-control(type='text' name='username' placeholder='' required)
                .form-group.row
                    label(for='email') Email:
                    input#email.form-control(type='email' name='email' placeholder='' required)
                .form-group.row
                    label(for='password') Password:
                    input#password.form-control(type='password' name='password' placeholder='' required)
                .form-group.row
                    button.btn.btn-primary.mr-3(type='submit') Login
                    a.btn.btn-success(href='/register' role='button') Register
                .form-group
